@keyframes full-heart {
    0% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.6;
    }
    40% {
      opacity: 0.7;
    }
    60% {
      opacity: 0.8;
    }
    80% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes plate-appear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    75% {
      transform: rotate(360deg);
      opacity: 0.8;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
  @keyframes content-appear {
    0% {
      z-index: 0;
    }
    100% {
      z-index: 10000;
    }
  }
  @keyframes confirmation-rotate {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0);
    }
  }